
map_file_path = /home/user-pool/users/jw7082/mapparts/
scripts_file_path = /home/user-pool/users/jw7082/modelling/materials/scripts/
textures_file_path = /home/user-pool/users/jw7082/modelling/materials/textures/

map_tile_size = 600
map_size = 30
