PREFIX = /home/user-pool/users/jw7082/lib
OGRE_PATH = $(PREFIX)/usr
OIS_PATH = $(PREFIX)/usr
RAKNET_PATH = $(PREFIX)/usr
FMOD_PATH = $(PREFIX)/usr/local

INCLUDES = -DOGRE_GUI_GLX -DOGRE_CONFIG_LITTLE_ENDIAN -I${OGRE_PATH}/include -I${OGRE_PATH}/include/OGRE -I${OIS_PATH}/include/OIS -I${OIS_PATH}/include -I${FMOD_PATH}/include/fmodex -I${RAKNET_PATH}/include/raknet
LFLAGS = -L${OGRE_PATH}/lib -L${OIS_PATH}/lib -L${FMOD_PATH}/lib -L${RAKNET_PATH}/lib
LIBS = -lOgreMain -lOIS -lfmodex64 -lfmodexp64 -lraknet -pthread
	
# DO NOT DELETE THIS LINE -- make depend needs it
